{{license_header}}
{{generated_code_warning}}

# frozen_string_literal: true

module OpenSearch
  module API
    {{#namespace}}
    module {{namespace}}
      {{>action.module}}
    end
    {{/namespace}}
    {{^namespace}}
    {{>action.module}}
    {{/namespace}}
  end
end
